<section id="pricing">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">{{pricing.title}}</h2>
            <p class="text-center wow fadeInDown">{{pricing.description}}</p>
        </div>

        <div class="row">
            <div class="col-sm-4" *ngFor="let priceCRD of pricing.priceCard">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                    <ul class="pricing">
                        <li class="plan-header">
                            <div class="plan-name">
                                {{priceCRD.pack}}
                            </div>
                            <div class="plan-price">
                                {{priceCRD.price}} <span>per month</span>
                            </div>

                        </li>
                        <li *ngFor="let feature of priceCRD.features">{{feature}}</li>

                        <li class="plan-purchase"><a class="btn btn-primary" href="{{priceCRD.link}} ">BUY NOW</a></li>
                    </ul>
                </div>
            </div>





        </div>
    </div>
</section>
<!--/#pricing-->