<section id="pricing">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Pricing Table</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                    <ul class="pricing">
                        <li class="plan-header">
                            <div class="plan-name">
                                Starter Pack
                            </div>
                            <div class="plan-price">
                                $39 <span>per month</span>
                            </div>

                        </li>
                        <li>1 DOMAIN</li>
                        <li>100GB DISK SPACE</li>
                        <li>UNLIMITED BANDWIDTH</li>
                        <li>SHARED SSL CERTIFICATE</li>
                        <li>10 EMAIL ADDRESS</li>
                        <li>24/7 SUPPORT</li>
                        <li class="plan-purchase"><a class="btn btn-primary" href="#">BUY NOW</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                    <ul class="pricing">
                        <li class="plan-header">
                            <div class="plan-name">
                                Business Pack
                            </div>
                            <div class="plan-price">
                                $65 <span>per month</span>
                            </div>

                        </li>
                        <li>1 DOMAIN</li>
                        <li>100GB DISK SPACE</li>
                        <li>UNLIMITED BANDWIDTH</li>
                        <li>SHARED SSL CERTIFICATE</li>
                        <li>10 EMAIL ADDRESS</li>
                        <li>24/7 SUPPORT</li>
                        <li class="plan-purchase"><a class="btn btn-primary" href="#">BUY NOW</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                    <ul class="pricing">
                        <li class="plan-header">
                            <div class="plan-name">
                                Pro Pack
                            </div>
                            <div class="plan-price">
                                $99 <span>per month</span>
                            </div>

                        </li>
                        <li>1 DOMAIN</li>
                        <li>100GB DISK SPACE</li>
                        <li>UNLIMITED BANDWIDTH</li>
                        <li>SHARED SSL CERTIFICATE</li>
                        <li>10 EMAIL ADDRESS</li>
                        <li>24/7 SUPPORT</li>
                        <li class="plan-purchase"><a class="btn btn-primary" href="#">BUY NOW</a></li>
                    </ul>
                </div>
            </div>




        </div>
    </div>
</section>
<!--/#pricing-->