<section id="main-slider">
    <div class="owl-carousel">
        <div class="item" style="background-image: url({{banner1.BannerImage}});">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="carousel-content">
                                <h2>{{banner1.heading}}</h2>
                                <p>{{banner1.description}}</p>
                                <a class="btn btn-primary btn-lg" href="{{banner1.buttonLink}}">{{banner1.buttonTxt}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.item-->
        <div class="item" style="background-image: url({{banner2.BannerImage}});">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="carousel-content">
                                <h2>{{banner2.heading}}</h2>
                                <p>{{banner2.description}}</p>
                                <a class="btn btn-primary btn-lg" href="{{banner2.buttonLink}}">{{banner2.buttonTxt}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.item-->
    </div>
    <!--/.owl-carousel-->
</section>
<!--/#main-slider-->