<section id="blog">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Latest Blogs</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="row">
            <div id="owl-example" class="owl-carousel">
                <div class="text-center item">
                    <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                        <article>
                            <header class="entry-header">
                                <div class="entry-thumbnail">
                                    <img src="../assets/images/blog1.jpg" alt="">

                                </div>
                                <div class="entry-date">25 November 2014</div>
                                <h2 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                            </header>

                            <div class="entry-content">
                                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</P>
                                <a class="btn btn-primary" href="#">BUY NOW</a>
                            </div>


                        </article>
                    </div>
                </div>
                <div class="text-center item">
                    <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                        <article>
                            <header class="entry-header">
                                <div class="entry-thumbnail">
                                    <img src="../assets/images/blog2.jpg" alt="">

                                </div>
                                <div class="entry-date">25 November 2014</div>
                                <h2 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                            </header>

                            <div class="entry-content">
                                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</P>
                                <a class="btn btn-primary" href="#">BUY NOW</a>
                            </div>


                        </article>
                    </div>
                </div>
                <div class="text-center item">
                    <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                        <article>
                            <header class="entry-header">
                                <div class="entry-thumbnail">
                                    <img src="../assets/images/blog3.jpg" alt="">

                                </div>
                                <div class="entry-date">25 November 2014</div>
                                <h2 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                            </header>

                            <div class="entry-content">
                                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</P>
                                <a class="btn btn-primary" href="#">BUY NOW</a>
                            </div>


                        </article>
                    </div>
                </div>

                <div class="text-center item">
                    <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                        <article>
                            <header class="entry-header">
                                <div class="entry-thumbnail">
                                    <img src="../assets/images/blog1.jpg" alt="">

                                </div>
                                <div class="entry-date">25 November 2014</div>
                                <h2 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                            </header>

                            <div class="entry-content">
                                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</P>
                                <a class="btn btn-primary" href="#">BUY NOW</a>
                            </div>


                        </article>
                    </div>
                </div>
                <div class="text-center item">
                    <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                        <article>
                            <header class="entry-header">
                                <div class="entry-thumbnail">
                                    <img src="../assets/images/blog2.jpg" alt="">

                                </div>
                                <div class="entry-date">25 November 2014</div>
                                <h2 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                            </header>

                            <div class="entry-content">
                                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</P>
                                <a class="btn btn-primary" href="#">BUY NOW</a>
                            </div>


                        </article>
                    </div>
                </div>
                <div class="text-center item">
                    <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                        <article>
                            <header class="entry-header">
                                <div class="entry-thumbnail">
                                    <img src="../assets/images/blog3.jpg" alt="">

                                </div>
                                <div class="entry-date">25 November 2014</div>
                                <h2 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                            </header>

                            <div class="entry-content">
                                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</P>
                                <a class="btn btn-primary" href="#">BUY NOW</a>
                            </div>


                        </article>
                    </div>
                </div>

                <div class="text-center item">
                    <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                        <article>
                            <header class="entry-header">
                                <div class="entry-thumbnail">
                                    <img src="../assets/images/blog1.jpg" alt="">

                                </div>
                                <div class="entry-date">25 November 2014</div>
                                <h2 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                            </header>

                            <div class="entry-content">
                                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</P>
                                <a class="btn btn-primary" href="#">BUY NOW</a>
                            </div>


                        </article>
                    </div>
                </div>
                <div class="text-center item">
                    <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                        <article>
                            <header class="entry-header">
                                <div class="entry-thumbnail">
                                    <img src="../assets/images/blog2.jpg" alt="">

                                </div>
                                <div class="entry-date">25 November 2014</div>
                                <h2 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                            </header>

                            <div class="entry-content">
                                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</P>
                                <a class="btn btn-primary" href="#">BUY NOW</a>
                            </div>


                        </article>
                    </div>
                </div>
                <div class="text-center item">
                    <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                        <article>
                            <header class="entry-header">
                                <div class="entry-thumbnail">
                                    <img src="../assets/images/blog3.jpg" alt="">

                                </div>
                                <div class="entry-date">25 November 2014</div>
                                <h2 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                            </header>

                            <div class="entry-content">
                                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</P>
                                <a class="btn btn-primary" href="#">BUY NOW</a>
                            </div>


                        </article>
                    </div>
                </div>




            </div>
        </div>

    </div>
</section>