<section id="meet-team">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">{{teamSec.title}}</h2>
            <p class="text-center wow fadeInDown">{{teamSec.desc}}</p>
        </div>

        <div class="row">
            <!-- <div class="col-sm-6 col-md-3" *ngFor="let card of teamSec.cards">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="team-img">
                        <img src="{{card.image}}" alt="">
                    </div>
                    <div class="team-info">
                        <h3>{{card.name}}</h3>
                        <span>{{card.position}}</span>
                    </div>
                </div>
            </div> -->

            <div class="col-sm-6 col-md-3" *ngFor="let teamcrd of team">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="team-img">
                        <img src="{{teamcrd.member_img}}" alt="">
                    </div>
                    <div class="team-info">
                        <h3>{{teamcrd.member_name}}</h3>
                        <span>{{teamcrd.member_position}}</span>
                    </div>
                </div>
            </div>


        </div>



    </div>
</section>
<!--/#meet-team-->