<section id="testimonial">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">{{TestiPage.testiTitle}}</h2>
            <p class="text-center wow fadeInDown">{{TestiPage.testiDesc}}</p>
        </div>

        <div class="row">
            <!-- <div class="col-sm-6" *ngFor="let testCards of TestiPage.testiCards">
                <div class="panel-one">
                    <div class="user-img"><img alt="" src="{{testCards.image}}"></div>
                    <div class="testi-info">
                        <h4>{{testCards.name}}</h4>
                        <h5>{{testCards.position}}</h5>
                        <p>{{testCards.desc}}</p>
                    </div>
                </div>
            </div> -->

            <div class="col-sm-6" *ngFor="let testimonial of testimonials">
                <div class="panel-one">
                    <div class="user-img"><img alt="" src="{{testimonial.image}}"></div>
                    <div class="testi-info">
                        <h4>{{testimonial.client}}</h4>
                        <h5>{{testimonial.position}}</h5>
                        <p>{{testimonial.description}}</p>
                    </div>
                </div>
            </div>







        </div>

    </div>
</section>
<!--/#testimonial-->