<section id="services">
    <div class="container">

        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Our Services</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <img src="../assets/images/icon1.png" alt="img">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Responsive Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipis ing elit, sed do eiusmod .</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <img src="../assets/images/icon2.png" alt="img">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">UX Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipis ing elit, sed do eiusmod .</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <img src="../assets/images/icon3.png" alt="img">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">UI Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipis ing elit, sed do eiusmod .</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <img src="../assets/images/icon4.png" alt="img">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">SEO Services</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipis ing elit, sed do eiusmod .</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <img src="../assets/images/icon5.png" alt="img">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">iOS Development</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipis ing elit, sed do eiusmod .</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <img src="../assets/images/icon6.png" alt="img">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Andriod Development</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipis ing elit, sed do eiusmod .</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<!--/#services-->