<!-- main slider -->
<app-main-slider></app-main-slider>

<!-- services section -->
<app-services></app-services>

<!-- animated number section -->
<app-animated-number></app-animated-number>

<!-- portfolio section -->
<app-portfolio></app-portfolio>

<!-- meet team section -->
<app-meet-team></app-meet-team>

<!-- pricing section -->
<app-pricing></app-pricing>

<!-- blog section -->
<app-blog></app-blog>

<!-- testimonial section -->
<app-testimonial></app-testimonial>

<!-- get in touch section -->
<app-get-in-touch></app-get-in-touch>